body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-right: 30px;
  white-space: nowrap;
}

.text-navy {
  color: black !important; 
}

.nav-link.active {
  color:black !important;
  font-weight: bold;
  padding-bottom: 4px;
}

.nav-link:hover {
  color: black  !important;
}

.navbar-brand {
  margin-left: 10px;
}


body, html {
  margin: 0;
  padding: 0;
}


.navbar {
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.hero-btn {
  padding: 10px 28px;
  border-radius: 30px;
  border: 1px solid black;
  background: transparent;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: black;
  color: white;
}

.hero-button {
  padding: 10px 28px;
  border-radius: 30px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-button:hover {
  background: white;
  color: black;
}

.skills-marquee {
  overflow: hidden;
  width: 100%;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 12s linear infinite;
  font-size: 1.5rem;
  opacity: 0.9;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.social-icons a {
  background-color: black;
  color: white;
  padding: 9px;
  margin: 0 3px;
  margin-left: -1px;
  border-radius: 30%;
  font-size: 20px;
  display: inline-block;
  transition: all 0.3s ease;
}

.social-icons a:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.card {
  background-color: #ececec;
  border-radius: 10px;
}